$bgWidth: 10000px;
$bgColor-primary: #111;
$bgColor-secondary: #ffff;
$bgBody-color: #24252a;

body {
  background-color: $bgBody-color;
}

.home-section {
  background-color: $bgColor-primary;
  background-size: $bgWidth 100%;
}

.typer {
  animation: animateBg 3s linear infinite;
}

@keyframes animateBg {
  100% {
      filter: hue-rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .logoReact {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}






