
@media screen and (max-width: 920px) {
    header {
      padding: 15px 5%;
    }

    main .sobre-section {
      height: 110vh;
    }

    main .sobre-section h1{
      font-size: 4em;
    }

    main .sobre-section .container-sobre .conteudo {
      font-size: 0.9em;
    }

    main .habilidades-section .LogoHabilidade {
      font-size: 4em;
    }

    .typer {
          font-size: clamp( 20px, 8vw , 40px);
    }

    .nav_links li a {
          font-size: 15px;
    }

    .nav_links {
          display: none;
    }

    .btn_contato {
          display: none;
    }

    .links_voltar li {
          margin: 0 5px;
    }

    .links_voltar a {
          font-size: 0.9rem;
    }

    .footer-content {
      padding: 0.5em;
    }

    .footer-content p{
          padding: 0.5em;
    }

    #voltar_topo_btn {
          right: 10%;
          bottom: 5%;
    }

    .btn-mobile {
      display: flex;
      padding: .5rem 1rem;
      font-size: 1rem;
      border: none;
      background: none;
      cursor: pointer;
      gap: .5rem;
    }

    #hamburger {
      color: #FFF;
      border-top: 2px solid;
      width: 30px;
    }

    #hamburger::after, #hamburger::before {
      content: '';
      display: block;
      width: 30px;
      height: 2px;
      background: currentColor;
      margin-top: 8px;
      transition: .3s;
      position: relative;
    }

    #nav.active #hamburger {
      border-top: transparent;
    }

    #nav.active #hamburger::before {
      transform: rotate(135deg);
    }

    #nav.active #hamburger::after {
      transform: rotate(-135deg);
      top: -10px;
    }

}

@media screen and (max-width: 1000px) {
  .container-projetos {
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
  }

  .item-projeto {
    flex: 0 0 100%;
    scroll-snap-align: center;
  }
  
}
