@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@600&family=Roboto+Slab:wght@300&display=swap");

* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: "Roboto" Verdana, Tahoma, sans-serif;
}

:root {
      --white: #edf0f1;
      --black: #111;
}

body {
      display: flex;
      flex-direction: column;
      max-width: 100%;
}

li,
a,
button {
      font-family: "Roboto Slab", sans-serif;
      font-weight: 500;
      font-size: 16px;
      color: var(--white);
      text-decoration: none;
}

header {
      position: relative;
      width: max(100%);
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 30px 10%;
      background-color: var(--black);
      border-bottom: 1px solid var(--white);
}

.logo {
      color: var(--white);
      cursor: pointer;
      margin-right: auto;
      font-family: "Caveat";
      font-size: 45px;
}

/* menu web*/
.nav_links {
      display: flex;
      list-style: none;
}

.nav_links a {
      position: relative;
      color: var(--white);
}

.nav_links li {
      display: inline-block;
      padding: 0px 20px;
}

.nav_links li a {
      transition: all 0.3s ease 0s;
      letter-spacing: 1px;
      font-size: max(18px);
}

.nav_links a:after {
      content: "";
      position: absolute;
      width: 100%;
      transform: scaleX(0);
      height: 2px;
      bottom: 0;
      left: 0;
      background-color: var(--white);
      transform-origin: bottom right;
      transition: transform 0.25s ease-out;
      border-radius: 25px;
}

.nav_links a:hover:after {
      transform: scaleX(1);
      transform-origin: bottom left;
}

/* Fim menu web*/

/* Menu mobile*/


.mobile-menu {
      display: none;
      z-index: 999;
      background-color: var(--black);
      border-bottom: 1px solid var(--white);
}

.mobile-menu ul {
      display: flex;
      flex-direction: column;
      list-style: none;
}

.mobile-menu ul li {
      margin: 20px;
      text-align: right;
      padding-right: 2rem;
}

.mobile-menu ul li:hover {
      border-radius: 10px;
      transition: .4s;
      padding-right: 2.5rem;
}

.mobile-menu .nav-links-mobile {
      display: block;
      padding-top: 1.2rem;
}

.nav-links-mobile a {
      color: var(--white);
      font-size: 18px;
}

.nav-links-mobile a:hover {
      color: #4070F4;
      transition: all 0.4s;
}

.btn-mobile {
      display: none;
}

.open {
      display: block;
}

/* Fim menu mobile*/

.btn_contato {
      text-align: center;
      margin-left: 20px;
      padding: 9px 25px;
      border: 2px solid var(--white);
      border-radius: 50px;
      font-size: 18px;
      height: 50px;
      width: 150px;
      cursor: pointer;
      transition: all 0.3s ease 0s;
      background-color: var(--black);
}

.btn_contato:hover {
      background: var(--white);
      color: var(--black);
      font-weight: bold;
}

/*Conteudo principal*/

main .home-section {
      display: flex;
      justify-content: center;
      align-items: center;
      height: calc(100vh + 200px);
      width: 100%; 
}

main .sobre-section {
      height: 100vh;
      width: 100%;
}

main .tecnologias-section {
      height: 100vh;
      width: 100%;
      background: rgb(20, 135, 243);
}

main .projetos-section {
      height: 100vh;
      width: 100%;
      background: rgb(56, 194, 22);
}

main .contato-section {
      height: 100vh;
      width: 100%;
      background: rgb(134, 134, 134);
}

main .home-section .container-image-home {
      position: absolute;
      height: 50px;
      width: 50px;
      top: 300px;
      display: flex;
      justify-content: center;
      align-items: center;
}

main .home-section .container-image-home img {
      height: 200px;
      width: 200px;
}

main .home-section .container-autotext {
      position: absolute;
      top: 300px;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding-top: 150px;
      height: max(100%);
      width: max(100%);
}

.typer {
      position: relative;
      font-size: 40px;
      font-weight: 600;
      color: #d257b2;
      background-image: -webkit-linear-gradient(45deg, #d257b2 39%, #d5f910 100%, #985c67 37%);
      background-clip: text;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
}

.cursor {
      position: absolute;
      height: 42px;
      border-left: 2px solid #4070F4;
}

main .container-autotext h1 {
      color: var(--white);
      text-align: center;
      font-size: 25px;
}

main .container {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      top: 32em;
      width: max(350px);
      height: max(200px);
}

main .home-section #baixar-cv,
main .home-section #btn-linkedin {
      margin: 10px;
      text-decoration: none;
      width: 150px;
      height: 50px;
      padding: 5px;
      font-size: 15px;
      display: flex;
      border-radius: 10px;
      border: 2px solid var(--white);
      background: rgb(10, 9, 9);
      color: var(--white);
      justify-content: center;
      align-items: center;
      cursor: pointer;
      font-weight: bold;
      outline: none;
      transition: all 0.4s;
}

main .home-section #baixar-cv:hover,
main .home-section #btn-linkedin:hover {
      background: var(--white);
      color: var(--black);
}

/*Parte principal do footer*/

footer {
      background-color: var(--black);
      height: fit-content;
      width: 100%;
      padding-top: 20px;
      font-family: "Roboto Slab", sans-serif;
      color: var(--white);
}

.footer-content {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      text-align: center;
      margin-top: auto;
}

.footer-content .logo_footer {
      font-size: 3rem;
      font-weight: 400;
      line-height: 3rem;
      font-family: "Caveat";
}

.footer-content p {
      max-width: 500px;
      margin: 10px auto;
      line-height: 28px;
      font-size: min(1vw) max(2vw);
      padding: 3vw;
}

/*Links de redes sociais*/

.redes_sociais {
      list-style: none;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 1rem 0 2rem 0;
}

.redes_sociais li {
      margin: 0 10px;
}

.redes_sociais a {
      text-decoration: none;
      color: var(--white);
}

.redes_sociais a i {
      font-size: 1.8rem;
      transition: color 0.4s ease;
}

.redes_sociais a:hover i {
      color: rgba(0, 136, 169, 0.8);
}

/*Links para voltar*/

.links_voltar {
      list-style: none;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 1rem 0 3rem 0;
}

.links_voltar li {
      margin: 0 10px;
}

.links_voltar a {
      text-decoration: none;
      color: var(--white);
}

.links_voltar a {
      font-size: 1.1rem;
      transition: color 0.4s ease;
}

.links_voltar a:hover {
      color: rgba(0, 136, 169, 0.8);
}

/*Parte de baixo do footer*/

.footer-bottom {
      background: #000;
      width: max(100%);
      padding: 20px 0;
      text-align: center;
}

.footer-bottom p {
      word-spacing: 2px;
      text-transform: capitalize;
}

.footer-bottom span {
      text-transform: uppercase;
      opacity: 0.4;
      font-weight: 200;
}

/* Botao voltar topo*/
#voltar_topo_btn {
      opacity: 0;
      position: fixed;
      right: 2lvw;
      bottom: 2lvw;
      width: 50px;
      height: 50px;
      padding: 5px;
      border-radius: 15px;
      background: rgb(77, 77, 77);
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
      color: #313131;
      cursor: pointer;
      outline: none;
      border: none;
      transition: all 0.4s;
      box-shadow: 2px 3px 10px #000;
      z-index: 999;
}

#voltar_topo_btn.active {
      opacity: 1;
}

#voltar_topo_btn:hover {
      background: var(--white);
      color: var(--black);
}

#voltar_topo_btn i {
      font-size: 1.8rem;
}

/* Fim Botao voltar topo*/









